@media screen and (max-width: 900px){
  .toggle_button{
    display: block;
  }
  .home_links{
    display: none;
  }

  .information p{
    margin: 15px;
  }

  .button{
    width: 100%;
  }
  .profile_card{
    margin:20px 0;
  }

  .footer-flex{
    flex-direction: column;
  }

  .links.row{
    flex-direction: column;
    gap: 30px;
  }

  .links{
    margin-top: 20px;
  }

  .contact_form_area p{
    margin: 10px 20px;
  }

  .col-6{
    max-width: 100%;
    flex: 0 0 100%;
  }
  nav{
    height: 75px;
  }
  .navbar_logo img{
    max-height: 75px;
  }
}

@media screen and (max-width: 500px){
  .information_grid{
    display: none;
  }

  #myCarousel{
    display: block;
    width: 100%;
  }

  span.glyphicon{
    color: rgba(0, 0, 0, .7);
  }

  a.right.carousel-control, a.left.carousel-control{
    background-image: unset;
  }
}