@media screen and (max-width: 900px){
  nav{
    /* height: 200px; */
  }

  [aria-controls="navbarDropdown"]{
    display: block;
    cursor: pointer;
    position: absolute;
    right: var(--size-20);
    top: var(--size-20);
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    font-size: var(--size-20);
  }
  [aria-expanded="false"]~ul{
    display: none;
  }
  /* .--navbar, .--navbar.specialties{
    display:flex;
    flex-direction: column;
    height: auto;
    background-color: var(--main-color);
    width: 100%;
    margin: 0;
  } */
  /* .hero{
    margin-top: 100px;
  } */

  /* .home_links,
  .home_links.specialties{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 5px;
  }

  .home_links li,
  .home_links.specialties li{
    margin-top: 20px;
  } */

  .information p{
    margin: 15px;
  }

  .button{
    width: 100%;
  }
  .profile_card{
    margin:20px 0;
  }

  .footer-flex{
    flex-direction: column;
  }

  .links.row{
    flex-direction: column;
    gap: 30px;
  }

  .links{
    margin-top: 20px;
  }

  .contact_form_area p{
    margin: 10px 20px;
  }

  .col-6{
    max-width: 100%;
    flex: 0 0 100%;
  }
  nav{
    height: 75px;
  }
  .--navbar_logo img{
    max-height: 75px;
  }
}

@media screen and (max-width: 500px){
  .information_grid{
    display: none;
  }

  #myCarousel{
    display: block;
    width: 100%;
  }

  span.glyphicon{
    color: rgba(0, 0, 0, .7);
  }

  a.right.carousel-control, a.left.carousel-control{
    background-image: unset;
  }
  /* [aria-controls="navbarDropdown"]{
    display: block;
    border: none;
    position: absolute;
    top: var(--size-40);
    right: var(--size-20);
    color: var(--font-color-main);
    background-color: transparent;
    font-size: var(--size-16);
  } */

  .navbar span{
    cursor: pointer;
    pointer-events: none;
  }
  /* .home_links ul,
  .home_links.specialties ul{
    display:flex;
    flex-direction: column;
    align-items: center;
  } */
  /* .hero{margin-top: 210px;} */
}