@media screen and (max-width: 900px){
  .toggle_button{
    display: block;
  }
  .home_links{
    display: none;
  }

  .information p{
    margin: 15px;
  }

  .button{
    width: 100%;
  }
  .profile_card{
    margin:20px 0;
  }

  .footer-flex{
    flex-direction: column;
  }

  .links.row{
    flex-direction: column;
    gap: 30px;
  }

  .links{
    margin-top: 20px;
  }

  .contact_form_area p{
    margin: 10px 20px;
  }

  .col-6{
    max-width: 100%;
    flex: 0 0 100%;
  }
}