/* navigation bar */

nav{
  background-color: var(--main-color);
  height: var(--size-100);
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 var(--size-22);
}

.navbar_logo img{
  max-height: 90px;
  width: auto;
  margin: auto 0;
  background-position: center;
}
.home_links ul{
  display: flex;
  flex-direction: row;
  gap: var(--size-22);
}
.home_links ul li a{
  color: white;
  font-size: var(--size-16);
  text-transform: uppercase;
}

/* profiles section */
.profiles{
  background-color: var(--main-color);
}

.profile_card img{
  width: 570px;
  height: 640px;
}